In [43]:
#program 1

num=[]
for i in range(2000,3201):
    if (i%7==0 and i%5!=0):
        num.append(str(i))

print(",".join(num))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [44]:
#program 2

n=int(input("enter n value :"))
dict={i:i**2 for i in range(1,n+1)}
print(dict)

enter n value :8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [45]:
# program 3

n=list(input("enter comma separted values=").split(','))
print(n)
print(tuple(n))

enter comma separted values=2,3,4,5
['2', '3', '4', '5']
('2', '3', '4', '5')

In [46]:
#program 4

class main:

    def __inti__(self):
        self.string

    def get_string(self):
         self.string=input("enter string=")

    def print_in_uppercase(self):
        print("upper case = ",self.string.upper())


obj=main()
obj.get_string()
obj.print_in_uppercase()

enter string=ganesh
upper case =  GANESH

In [47]:
#program 5

list1=input("enter comma seperated word").split(',')

print(sorted(list1))

enter comma seperated wordganesg,bestha
['bestha', 'ganesg']

In [48]:
#program 6

s=input("enter string :").split()
print(" ".join(sorted(set(s))))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

In [ ]:
#program 7

for i in range(1000,3001):
    l=list(str(i))
    for j in l:
      if int(j)%2!=0:
        break
    else:
      print(i)

In [ ]:
odd=['1','3','5','7','9']
for i in range(1000,3001):
    for j in odd:
      if j in str(i):
        break
    else:
      print(i)

In [51]:
#program 8

s=input("enter string:")
lower,upper = 0,0
for i in s:
  if i.islower():
    lower+=1
  elif i.isupper():
    upper+=1

print("UPPER CASE ",upper)
print("LOWER CASE ",lower)

enter string:ganehs BetsyaHaH
UPPER CASE  3
LOWER CASE  12

In [41]:
# program 9

def satisfied(i):

  small=False
  capital=False
  num=False
  special=False

  for j in i:

    if j.islower():
      small=True

    elif j.isupper():
      capital=True

    elif j in '1234567890':
      num=True

    elif j in '$#@':
      special=True

  return (small and capital and num and special)


passwrod='ABd1234@1,a F1#,2w3E*,2We3345'
accepted=[]
for i in passwrod.split(','):
  if len(i)>=6 and len(i)<=12 and satisfied(i):
    accepted.append(i)

print(",".join(accepted))

ABd1234@1